/addons
/appcache
/battleye
/BEFilters
/config
/curator
/dll
/dta
/heli
/kart
/keys
/logs
/mark
/steamapps
/TADST
/arma3server.exe
/arma3server_readme.txt
/ijl15.dll
/msvcr100.dll
/physx3_x86.dll
/physx3common_x86.dll
/physx3cooking_x86.dll
/physx3cooking_x86.dll
/physx3gpu_x86.dll
/steam.dll
/steam_api.dll
/steam_appid.txt
/steamclient.dll
/TADST.exe
/tbb.dll
/tbbmalloc.dll
/tier0_s.dll
/vstdlib.dll


